div
{
    color: black;
    font-family: Roboto,Serif, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
    /*border: 1px solid black;
    margin: 2px;*/
}

#main-title
{
    padding-left: 30px;
    color: white;
}
footer
{
    /*position: fixed;*/
    left: 0px;
    width: 100%;
    background-color: #4472c4;
    color: white;
}

#bloc_page
{
    align-items: center;
    justify-content: center;
    width: 100%;
}

header
{
    position: fixed;
    top: 0px; left: 0px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    background-color: #4472c4;
    width: 100%;
    height: 90px;
}

#banniere
{
    height: 100px;
}

article
{
    /*border: 1px solid black;*/
    width: 70%; 
}

.portait{
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }

aside
{   
    /* background-color: rgb(90, 102, 238); */
    /*border: 1px solid black;*/
    color: white;
    padding: 30px;
    width: 30%;
    background-color: #4472c4;
}

section
{
    display: flex;
    /*border: 1px solid black;*/
    /*box-shadow: 0 3px 0 0 #747373;
    box-shadow: 3px 0 0 0 #747373;
    box-shadow: 0 0 3px 0 #747373;
    box-shadow: 0 0 0 3px #747373;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 10px;
    width: 90%;
    max-width: 1000px;
    min-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    font-size: 1.7rem;
}

h2
{
    text-transform: uppercase;
    font-size: 1.2rem;
}

p
{
    width: 100%;
    text-align: justify;
    /*border: 1px solid black;*/
    /*padding: 12px; /* Marge intérieure de 12px */
    /*margin: 10px; /* Marge extérieure de 50px */
}

#en-tête
{
    background-color: #f2f2f2;
    /*border: 1px solid black;*/
    padding: 30px;
}

#info
{
    display: flex;
    justify-content: space-between;
}

#formation
{
    display: flex;
}

#experience
{
    display: flex;
}

#date
{
    width: 140px;
}

#info_date
{
    width: 100%;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.2em;
    color: white;
    padding: 30px;
    text-decoration: none;
}

nav a:hover
{
    color: #0a28af;
    border-bottom: 3px solid #0a28af;
}

#corps_cv
{
    padding: 30px;
}

.text-blue{
    color: #4472C4;
}