div
{
    color: black;
    font-family: Roboto,Serif, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
}
/**{
    border: 1px solid black;
    margin: 10px;
}*/
h1
{
    font-size: 1.7rem;
}

h2
{
    font-size: 1.2rem;
}

p
{
    width: 100%;
    text-align: justify;
}

.text-blue{
    color: #4472C4;
}

/*en tête*/
#banniere
{
    height: 100px;
    margin: 30px
}

#main-title
{
    padding-left: 30px;
    color: white;
}

header
{
    position:absolute;
    top: 0px; left: 0px; right: 0px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    background-color: #4472c4;
    height: 90px;
}

/* navigation */
nav a
{
    font-size: 1.2em;
    color: white;
    padding: 30px;
    text-decoration: none;
}

nav a:hover
{
    color: #0a28af;
    border-bottom: 3px solid #0a28af;
}
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}



/*body*/
#bloc_interior
{
    background-color: white;
    width:min-content;
    margin: auto;
    padding: 30px;
}

body
{
    background-color: rgb(226, 224, 224);
}

/*article*/
article ul
{
    list-style-type: none;
}

#exemple
{
    display: flex;
    justify-content: center;
    padding-right: 150px;
}

.arrow-right {
    width: 20px;
    height: 32px;
    background-color: #4472c4;

    clip-path: polygon(0 0, 0 100%, 100% 50%);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.espace
{
    width:60px;
}

.image
{
    max-width: 300px;
}
/*footer*/
footer
{
    position: absolute;
    left: 0px;right: 0px;
    /*width: 100%;*/
    background-color: #4472c4;
    color: white;
    margin-top: 30px;
}
