div
{
    color: black;
    font-family: Roboto,Serif, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
    /*border: 1px solid black;
    margin: 2px;*/
}
h1
{
    font-size: 1.7rem;
}

h2
{
    text-transform: uppercase;
    font-size: 1.2rem;
}

p
{
    width: 100%;
    text-align: justify;
}

.text-blue{
    color: #4472C4;
}

/*en tête*/
#banniere
{
    height: 100px;
    margin: 30px
}

#main-title
{
    padding-left: 30px;
    color: white;
}

header
{
    position:absolute;
    top: 0px; left: 0px; right: 0px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    background-color: #4472c4;
    height: 90px;
}

nav a
{
    font-size: 1.2em;
    color: white;
    padding: 30px;
    text-decoration: none;
}

nav a:hover
{
    color: #0a28af;
    border-bottom: 3px solid #0a28af;
}
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}


/*body without cv*/
#bloc_interior
{
    background-color: white;
    width:min-content;
    margin: auto;
    padding: 30px;
}

body
{
    background-color: rgb(226, 224, 224);
}

/*cv*/
article
{
    /*border: 1px solid black;*/
    width: 70%; 
}

.portait{
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }

aside
{   
    color: white;
    padding: 30px;
    width: 30%;
    background-color: #4472c4;
}

section
{
    display: flex;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*margin: 10px;*/
    width: 90%;
    max-width: 1000px;
    min-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

#en-tête
{
    background-color: #f2f2f2;
    padding: 30px;
}

#info
{
    display: flex;
    justify-content: space-between;
}

#formation
{
    display: flex;
}

#experience
{
    display: flex;
}

#date
{
    width: 140px;
}

#info_date
{
    width: 100%;
}

#corps_cv
{
    padding: 30px;
}

/*footer*/

footer
{
    position: absolute;
    left: 0px;right: 0px;
    /*width: 100%;*/
    background-color: #4472c4;
    color: white;
    margin-top: 30px;
}